<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
  </head>
  <body class="registerBody">
    <form method="POST" class="registerForm">
      {% csrf_token %}
      {% for form in createUser %}
        <div class="label">{{ form.label }}</div>
        <div class="registerForm">{{ form }}</div>
        <div class="registerErrors">{{ form.errors }}</div>
        <br>
      {% endfor %}
      <input class="registerSubmit"type="submit" value="Sign Up">
      <p class="AHA" > Already have an account? <a class="loginLink" href="/login">Sign in</a> </p>
    </form>
  </body>
</html>