{% load static %}
<html>
    <head>
        <link rel="stylesheet" href={% static '/css/main.css'%}>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
        <a href="/post/"><span class="CreatePostLogo">  Scribbles & Thoughts  </span></a>
        </nav>
        <form method="POST" action="" class="createPost">
            {% csrf_token %}
            <div class="form">
            <div class="formset">
                {{formset}} 
                <input type="submit" value="Publish">
            </div>

            </div>

        </form>
    </body>
</html>